*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: SF PRO DISPLAY;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}

#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#page>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 7vh;
    width: 70vw;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}
#page>nav>button{
    padding: 7px 20px;
    scale: 0.8;
    border-radius: 50px;
    border: none;
    background-color: rgb(239, 239, 239);
    cursor: pointer;
    transition: all 0.5s;
}
#page>nav>button:hover{
    background-color: #fff;
}
#page>nav>h3{
    font-weight: 400;
}
#page>video{
    height:100%;
    width: 50%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#page-bottom{
    height: 20%;
    width: 25%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page-bottom>h3{
    color: #dadada93;
    margin-bottom: 1vw;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>h1{
    font-size: 4vw;
    color: white;
    font-weight: 400;
    position: absolute;
    bottom: 20%;
    left:50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page2>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page2>h1{
    font-size: 4vw;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
    color: #fff;
    font-weight: 400;
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
#page3>img{
    width: 70%;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#page3-upper{
    height: 25%;
    width: 35%;
    position: absolute;
    z-index: 9;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
#page3-upper>img{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}
#page3-upper-inner{
    position: absolute;
    bottom: 0%;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    color: #ff6613;
}
#page3-upper-inner>h3{
    height: 10%;
    font-weight: 500;
    color: #8d8d8d;
    font-size: 21px;
}
#page3>button{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    border: 3px solid #000;
    font-weight: 500;
    background-color: #fff;
    border-radius: 50px;
    font-size: 1.4vw;
    transition: all 0.5s;
    cursor: pointer;
    
}
#page3>button:hover{
    background-color: #000;
    color:#fff;
}
#plus{
    margin-right: 10px;
}

#page4{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page4>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#center-page4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 2vw;
}

#page5{
    display: flex;
    position: relative;
    height: 70vh;
    width: 100vw;
}
.left5{
    position: relative;
    height: 100%;
    width: 45%;
}
.left5>h1{
    font-size: 2.3vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    padding-top: 140px;
    padding-left: 60px;
    font-weight: 650;
}
.right5{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 5vw;
}
.right5>h3{
    font-size: 1.5vw;
    width: 90%;
    font-weight: 500;
    color: #838383d7;
    padding-top: 30px;
    margin-top: 2.5vw;
}
.right5>button{
    padding: 10px 20px;
    border: none;
    height: 9%;
    background-color: #fd600b;
    color: #fff;
    font-weight: 400;
    border-radius: 50px;
    font-size: 1.3vw;
    margin-top: 2vw;
    cursor: pointer;
    transition: all 0.5s;
}
.right5>button:hover{
    background-color: #ff823d;
}
#page6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page6>h3{
    margin-bottom: 1vw;
    font-size: 1.5vw;
}
#page6>h1{
    margin-bottom: 1.5vw;
    font-size: 5vw;
}
#page6>p{
    font-size: 1.5vw;
    width: 50%;
    font-weight: 600;
    color: #808080c9;
}

#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page7>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 99;
}
#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;

}
#page8>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #858585;
    z-index: 99;
    position: absolute;
}
#page8>h1>span{
    color: #000;
}
#page9{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page9>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #858585;
    z-index: 99;
    position: absolute;
}
#page9>h1>span{
    color: #000;
}
#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;

}
#page10>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #858585;
    z-index: 99;
    position: absolute;
}
#page10>h1>span{
    color: #000;
}
#page11{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page11>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #858585;
    z-index: 99;
    position: absolute;
}
#page11>h1>span{
    color: #000;
}
#page12{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;

}
#page12>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #858585;
    z-index: 99;
    position: absolute;
}
#page12>h1>span{
    color: #000;
}
#page13{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page13>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #858585;
    z-index: 99;
    position: absolute;
}
#page13>h1>span{
    color: #000;
}
#page14{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
.left14{
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_top__k3b8lzqd1l2m_large.jpg);
    background-size: cover;
}
.right14{
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_side__gm4agomrwl2e_large.jpg);
    background-size: cover;
}
#page15{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#center-page15{
    height: 90%;
    width: 95%;
    position: relative;
    overflow: hidden;
}
#center-page15>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page16{
    position: relative;
    height: 120vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page16>h2{
    position: absolute;
    width: 50%;
    color: #434343c7;
    font-weight: 500;
    top: 5%;
    text-align: center;
}
#page16>h2>span{
    color: #000;
}
#page16>img{
    width: 60%;
    position: absolute;
    bottom: 0%;
}
#page16>button{
    position: absolute;
    bottom: 10%;
    height: 4.6%;
    width: 20%;
    padding: 10px 20px;
    font-size: 1.2vw;
    border-radius: 50px;
    background-color: #fd600b;
    color: #fff;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}
#page16>button:hover{
    background-color: #ff823d;
}
#page17{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}
#page17>h4{
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 2vw;
}
#page17>h1{
    font-size: 5vw;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 3vw;
}
#page17>p{
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 2vw;
    color: #ffffff7c;
    width: 50%;
    text-align: center;
}
#page17>p>span{
    color: #fff;
}
#page18{
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0%;
}
#page18>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vw;
}
#page19{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    height: 30vh;
    width: 100vw;
    background-color: #000;
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
}

#page19>div>h5{
    font-size: 23px;
    color: #a4a4a4cf; 
    font-weight: 500;    
}
#page20{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page20>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#center-page20{
    position: absolute;
    height: 29%;
    width: 27%;
    bottom: 8%;
    left: 65%;
    color: #b0b0b0f2;
}
#center-page20>h1{
    margin-bottom: 1.7vw;
}
#page21{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page21>#troff{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
    z-index: 9;
}
#page21>#tron{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
}
#page22{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    height: 40vh;
    width: 100vw;
    background-color: #000;
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
}
#page22>div{
    margin-bottom: 350px;
}
#page22>div>h5{
    line-height: 1.5;
    font-size: 20px;
    color: #a4a4a4cf; 
    font-weight: 500;    
}
#page23{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page23>#snroff{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
    z-index: 9;
}
#page23>#snron{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
}
#page25{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page25>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity:0
}
#page24{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #000;
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
}
#page24>div{
    margin-bottom: 350px;
}
#page24>div>h5{
    line-height: 1.5;
    font-size: 20px;
    color: #a4a4a4cf; 
    font-weight: 500;    
}
#page26{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #000;
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
}
#page26>div{
    margin-bottom: 350px;
}
#page26>div>h5{
    line-height: 1.5;
    font-size: 20px;
    color: #a4a4a4cf; 
    font-weight: 500;    
}
#page26>button{
    position: absolute;
   top: 60%;
    height: 12%;
    width: 25%;
    padding: 10px 20px;
    font-size: 1.2vw;
    border-radius: 50px;
    background-color: white;
    color:black;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}
#page26>button:hover{
    background-color: rgb(221, 221, 221);
}
#page27{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: relative;
    height: 120vh;
    width: 100vw;
    background-color: white;
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
}
#page27>div{
    margin-bottom: 350px;
}
#page27>div>h5{
    line-height: 1.5;
    font-size: 25px;
    color: #757575cf; 
    font-weight: 500;    
}
#page27>button{
    position: absolute;
   bottom: 5%;
    height: 5%;
    scale: 1.2;
    width: 25%;
    padding: 10px 20px;
    font-size: 1.2vw;
    border-radius: 50px;
    background-color: rgb(254, 91, 32);
    color:white;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}
#page27>button:hover{
    background-color: rgb(255, 123, 75);
}
#page27>img{
    margin-top: 330px;
    margin-bottom: 40px;
    width: 70px;
}
#page28{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
}
#container{
    position: relative;
    width: 100%;
    margin-left: 4%;
    margin-right: 4%;
    background-color: #f3f3f6;
    display: flex;
    flex-direction: row;
}
.left28{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 5vw;
   
}
.left28>h1{
    font-size: 55px;
    font-weight: 600;
    margin-left: 50px;
    margin-bottom: 20px;
}
.left28>img{
    width:9%;
    margin-left: 50px;
    margin-bottom: 10px;
}
.left28>h3{
    font-size: 25px;
    color: #9f9f9f;
    font-weight: 500;
    margin-left: 50px;
}
.right28{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-right: 5vw;
    
}
.right28>img{
    width: 90%;
    margin-top: 124px;
}
#page29{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
}
#container1{
    position: relative;
    width: 100%;
    margin-left: 4%;
    margin-right: 4%;
    background-color: #f3f3f6;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
#top29{
    display: flex;
    
    height: 100%;
    width: 50%;
    padding-left: 5vw;
   
}
#top29>img{
    margin-top: 30%;
    margin-left: 28%;
    scale: 0.7;
}
#bottom29{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    
}
#bottom29>h1{
    text-align: center;
    font-size: 3.5vw;
    font-weight: 500;
}
#bottom29>h1>span{
    font-size: 3.1vw;
    font-weight: 500;
}
#bottom29>p{
    text-align: center;
    margin-top: 10px;
    font-size: 1.5vw;
    font-weight: 400;
}
  
  .footer { padding-block: 40px; }
  
  .copyright { margin-block-end: 12px; }
  
  .footer .social-link { color: var(--charcoal); }
  
  
  
  
  
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for large than 575px screen
   */
  
  @media (min-width: 575px) {
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
  
  
    /**
     * PROJECT
     */
  
    .project-card { --padding: 68px; }
  
  
  
    /**
     * CONTACT
     */
  
    .contact-card { padding: 68px; }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 720px; }
  
    .section-text { --fs-5: 2rem; }
  
  
  
    /**
     * ABOUT
     */
  
    .about .grid-list { grid-template-columns: 1fr 1fr; }
  
  
  
    /**
     * PROJECT
     */
  
    .project .title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
    }
  
    .project .btn { min-width: max-content; }
  
  
  
    /**
     * CONTACT
     */
  
    .contact .section-text { --fs-5: 1.8rem; }
  
    .input-wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  
  
  
    /**
     * FOOTER
     */
  
    .footer .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .copyright { margin-block-end: 0; }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * spacing
       */
  
      --section-padding: 120px;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 960px; }
  
  
  
    /**
     * HEADER
     */
  
    .nav-open-btn,
    .navbar-top,
    .navbar .wrapper,
    .overlay { display: none; }
  
    .navbar,
    .navbar.active {
      all: unset;
      display: flex;
      flex-grow: 1;
    }
  
    .navbar-list {
      display: flex;
      gap: 36px;
      margin-inline: auto;
    }
  
    .navbar-link {
      color: var(--charcoal);
      transition: var(--transition-1);
    }
  
    .navbar-link:is(:hover, :focus-visible) { color: var(--light-purple); }
  
    .navbar .social-link {
      color: var(--charcoal);
      font-size: 1.8rem;
    }
  
    .header {
      top: 45px;
      max-width: 960px;
      left: 50%;
      transform: translateX(-50%);
      padding-inline: 16px;
      border-radius: var(--radius-8);
    }
  
    .header.active {
      top: 0;
      left: 0;
      max-width: unset;
      border-radius: 0;
    }
  
  
  
    /**
     * HERO
     */
  
    .hero { padding-block-start: calc(var(--section-padding) + 80px); }
  
    .hero .container {
      grid-template-columns: 0.8fr 1fr;
      align-items: center;
      gap: 100px;
    }
  
    .hero-content { text-align: left; }
  
    .hero .btn-wrapper { justify-content: flex-start; }
  
  
  
    /**
     * ABOUT
     */
  
    .about .wrapper {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  
    .about .grid-list { grid-template-columns: repeat(4, 1fr); }
  
  
  
    /**
     * PROJECT
     */
  
    .project .grid-list {
      grid-template-columns: 1fr 1fr;
      row-gap: 50px;
    }
  
    .project .grid-list > li:nth-child(-n+2) { grid-column: 1 / 3; }
  
    .project-card-1,
    .project-card-2 {
      flex-direction: row;
      align-items: flex-end;
    }
  
    :is(.project-card-1, .project-card-2) .card-content { width: 33.33%; }
  
    :is(.project-card-1, .project-card-2) .card-banner { width: 66.66%; }
  
    .project-card-1 .card-content { padding-block-end: var(--padding); }
  
    .project-card-2 .card-content { order: 1; }
  
  
  
    /**
     * CONTACT
     */
  
    .contact-card {
      grid-template-columns: 0.8fr 1fr;
      align-items: center;
      gap: 90px;
    }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * REUSED STYLE
     */
  
    .container,
    .header { max-width: 1140px; }
  
  
  
    /**
     * ABOUT
     */
  
    .about .grid-list { gap: 50px; }
  
  
  
    /**
     * CONTACT
     */
  
    .contact-card { gap: 150px; }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 1400px screen
   */
  
  @media (min-width: 1400px) {
  
    /**
     * REUSED STYLE
     */
  
    .container,
    .header { max-width: 1320px; }
  
  
  
    /**
     * HERO
     */
  
    .hero .container { grid-template-columns: 1fr 0.8fr; }
  
    .hero .section-text { --fs-5: 2.4rem; }
  
  
  
    /**
     * ABOUT
     */
  
    .about .wrapper { gap: 100px; }
  
    .about .grid-list { gap: 60px; }
  
  }